.main {
    width: 100%;
}

.top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}

.title {
    font-size: 24px;
    font-weight: 600;
}

.button {
    font-size: 24px;
    font-weight: 400;
    
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}