* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

.d-flex {
  display: flex;
}

.f-coll {
  flex-direction: column;
}

.mr-auto { margin-right: auto; }
.ml-auto { margin-left: auto; }

.color {
  width: 24px;
  height: 24px;
  overflow: hidden;
  border-radius: 50%;
}

.hide {
  display: none;
}

