.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 196px;

    gap: 26px;
}

.input {
    width: 100%;
    border: 1px solid #000;
    border-radius: 20px;
    font-size: 12px;
    padding: 8px 10px;
    outline: none;
    max-width: 84px;
}