.product {
    width: calc(25% - 30px);
    max-width: 25%;
}

.image {
    width: 100%;
    padding-top: 128%;

    position: relative;
    overflow: hidden;
}

.image img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    object-fit: cover;
}

.menu {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(211, 211, 211, 0.49);

    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.image:hover .menu {
    display: flex;
}

.action {
    font-size: 24px;
    color: #000;
    text-transform: uppercase;
    cursor: pointer;
}

.action:hover {
    text-decoration: underline;
}

.info {
    width: 100%;
    height: 100%;
    padding-top: 4px;
}

.title {
    text-transform: uppercase;
    font-size: 24px;
    color: #000;   
    cursor: pointer;
}

.price {
    margin-top: 4px;
    font-weight: 400;
    font-size: 24px;
    color: #000;
}