.title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;

    margin-bottom: 20px;
    margin-top: 16px;

    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
}

.item {
    width: 100%;
    padding-left: 20px;
}

.point {
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    gap: 6px;


    font-size: 18px;
    font-style: normal;
    font-weight: 300;
}

.label {
    width: 20px;
    text-align: center;
}

.content {
    width: 100%;
}

.hide {
    display: none;
}

.btn {
    margin-left: 8px;
    transform: scale(-1, -1);
    user-select: none;
}

.btn.open {
    transform: scale(-1, 1);
}

@media screen and (max-width: 578px) {
  .title {
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    /* Можно указать десятичное значение вместо процента: */
    line-height: 1.20878;

    width: 100%;
    display: flex;
  }

  .point {
    font-size: 11px;
  }

  .btn {
    margin-left: auto;
  }
}