.main {
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

.info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    color: #000;
    font-family: Inter;
    font-size: 50.225px;
    font-weight: 700;
    user-select: none;
}

.price {
    color: #000;
    font-family: Inter;
    font-size: 60.27px;
    font-weight: 500;
}

.count {
    color: #313642;
    font-family: Inter;
    font-size: 18.834px;
    font-weight: 500;
}

.label {
    color: #797C80;
    font-family: Inter;
    font-size: 17.361px;
    font-weight: 500;
    user-select: none;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hr {
    background-color: #D8D8D8;
    height: 1px;
    margin: 12px 0;
}

.table {
    width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.nav {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    
    color: #808387;
    font-family: Inter;
    font-size: 17.579px;
    font-weight: 400;
    user-select: none;
}

.list {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    flex-direction: column;

    max-height: 100%;
    overflow-y: scroll;
    margin-bottom: 20px;
}

.find {
    position: relative;
    width: fit-content;
}

.find input {
    min-width: 336px;
    padding: 14px 22px;
    color: #75787F;
    font-family: Inter;
    font-size: 14.92px;
    font-weight: 400;
    border-radius: 124.332px;
    border: 1.424px solid #5F5F5F;
    outline: none;
    padding-right: 50px;
}

.find .icon {
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;

    right: 22px;
    top: calc(50% - 11px);
    z-index: 1;
    cursor: pointer;
}