.alert {
    background-color: #fff;
    max-width: 100%;
    min-width: 568px;
    text-wrap: nowrap;

    max-height: calc(100vh - 86px);

    position: fixed;
    right: 0;
    bottom: 66px;
    z-index: 101;

    padding: 20px;
    padding-left: 20px;
    padding-right: 40px;

    display: flex;
    flex-direction: column;
    gap: 12px; 
    transform: translateX(100%);
    transition: 0.4s ease;

    user-select: none;
    cursor: default;
}

.active {
    transform: translateX(0);
}

