.status {
    width: 100%;
    max-width: 220px;
    width: fit-content;
    position: relative;
    user-select: none;
}

.value {
    border-radius: 32px;
    border: 1px solid #CCC;
    padding: 6px 12px;
    padding-left: 36px;

    color: #000;
    font-family: Inter;
    font-size: 17px;
    font-weight: 400;
    position: relative;

    display: flex;
    justify-content: flex-end;
}

.icon {
    position: absolute;
    height: 16px;
    width: 16px;
    left: 12px;
    top: calc(50% - 9px);
    transform: scale(-1, -1);
    margin-top: 3px;
    cursor: pointer;
}

.icon[open] {
    transform: scale(1, 1);
}

.icon img {
    width: 100%;
    height: 100%;
}

.list {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    color: #000;
    font-family: Inter;
    font-size: 17.361px;
    font-weight: 400;
    background-color: #fff;
}

.list div {
    width: 100%;
    padding: 8px 12px;
    border-bottom: 1px solid #CCC;
    text-align: left;
    cursor: pointer;
    background-color: #fff;
    z-index: 10;
}