.wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.label {
    font-size: 18px;
    color: #000;
    text-transform: uppercase;
}

.button {
    border: none;
    padding: none;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    box-shadow: none;

    font-size: 24px;
    color: #000;
    text-transform: uppercase;
}

.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

    overflow: hidden;
}

@media (max-width: 600px) {
  .top {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
  .label {
    font-size: 15px;
  }
  .button {
    font-size: 18px;
  }
  .products {
    flex-direction: column;
    gap: 20px;
  }
}