.main {
    width: 100%;
}

.select {
    display: flex;
    gap: 16px;
    
    padding: 14px;
    padding-left: 30px;
    padding-right: 20px;

    font-size: 16px;
    font-weight: 400;

    border-radius: 35px;
    border: 1px solid #CCC;
    outline: none;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

.icon {
    height: 16px;
    width: 16px;
    transform: scale(-1, -1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icon.open {
    transform: scale(1, 1);
}

.list {
    padding-left: 10px;
    padding-right: 22px;
    user-select: none;
}

.item {
    padding: 10px 14px;
    border-bottom: 1.5px solid #CCC;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    
}